* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Heiti SC";
    /*color: #212121;*/
}

a {
    font-family: "Heiti SC";
    text-decoration: none;
}

.content_zone1{
    top:0;
    height: 300px;
    width: 100%;
    /*background-color: rgba(178, 34, 34, 0.3);*/
    float: left;
}

.content_zone2{
    top:0;
    height: 300px;
    width: 100%;
    background-color: rgba(178, 34, 34, 0.3);
    float: left;
}

.logo_zone{
    height: 100vh;
    width: 100vw;
    /*background-color: rgba(178, 34, 34, 0.3);*/
    background: url("https://ftp.bmp.ovh/imgs/2020/04/730b34f4fe47bc80.jpg") no-repeat;
    background-size: 100%;
    float:left;
    /*position: relative;*/
}

/*.logo_zone .nav-container .logo{*/
/*    !*background: url("./zxlogo.png") no-repeat;*!*/
/*    display: block;*/
/*    line-height: 60px;*/
/*    font-size: 60px;*/
/*    !*align-items: center;*!*/
/*    !*height: 60px;*!*/
/*}*/

/*.logo_zone .nav-container .logo img{*/
/*    height: 60px;*/
/*}*/


.nav-bar {
    /*margin-top: 140px;*/
    top:20px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0.05));
    /*background-color: rgba(178, 34, 34, 0.85);*/
    height: 60px;
    /*border: solid 1px rgb(224, 224, 224);*/
    border-left: 0;
    border-right: 0;
    /*position: absolute;*/
}

.nav-bar .nav-container {
    width: 1226px;
    height: 60px;
    background-color: rgba(178, 34, 34, 0);
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.nav-bar .nav-container .nav-left {
    width:30%;
    display: inline-block;
    height: 60px;
    /*line-height: 60px;*/
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    margin-left: 30px;
}

.nav-bar .nav-container .nav-left .logo{

    height: 40px;
    margin: 10px 15px;
    align-items: center;
    position: relative;
}

.nav-bar .nav-container .nav-right {
    display: inline-block;
    float: right;
    height: 40px;
    /*width:70%;*/
    /*margin-top: 15px;*/
    /*margin: 0 auto;*/
    margin-top:6px;
    padding-right: 30px;
}

.nav-bar .nav-container .nav-right .separator{
    height: 30px;
}

.nav-bar .nav-container .nav-right span{
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 9px 3.5px 21px 3.5px;
    float: left;
}

.nav-bar .nav-container .nav-right .icon-sousuo1 {
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    margin-left: 8px;
}


.nav-bar .nav-container .nav-right .nav-right-item a {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}


.nav-bar .nav-container .nav-right .nav-right-item .cur {
    /*color: red !important;*/
    background-color: #fff;
}


.nav-bar .nav-container .nav-right .nav-right-item {
    display: inline-block;
    float: left;
    height: 30px;
    padding: 9px 8px 21px 8px;
    margin: 0 10px;
    /*top: 0;*/
}

.nav-bar .nav-container .nav-right .nav-right-item:hover {
    /*color: white;*/
    background-color: #0652DD;
    transition: all 0.3s;
}

.nav-bar .nav-container .nav-right .nav-right-item:hover a.cur{
    background-color: transparent;
    color: #FFFFFF; !important;
}

.nav-bar .nav-container .nav-right .nav-right-item .nav_child {
    padding: 25px;
    position: absolute;
    border-top: 2px solid #0652DD;
    top: 64px;
    width: 1146px;
    background-color: rgba(245, 246, 250, 0.8);
    display: none;
    left:30px;
}

.nav-bar .nav-container .nav-right .nav-right-item a:hover .nav_child {
    display: block;
    transition: display 0.5s;
}

.nav-bar .nav-container .nav-right .nav-right-item .nav_child .l {
    width: 45%;
    display: flex;
}


.nav-bar .nav-container .nav-right .nav-right-item .nav_child .l .pic {
    width: 166px;
}


.nav-bar .nav-container .nav-right .nav-right-item .nav_child .l .pic img {
    max-width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    /*padding-bottom: 100%;*/
}

.nav-bar .nav-container .nav-right .nav-right-item .nav_child .l .txt {
    font-size: 23px;
    color: #94070a;
    padding-left: 30px;
    line-height: 2.2;
}

.nav-bar .nav-container .nav-right .nav-right-item .nav_child .r {
    width: 55%;
}

.nav-bar .nav-container .nav-right .nav-right-item .nav_child .r a{
    color: darkblue;
}

.nav-bar .nav-container .nav-right .nav-right-item:hover .nav_child {
    display: flex;
    transition: all 0.7s;
}

#fixed {
    margin: 0px;
    position: fixed;
    top: -65px;
}

#fixed.active {
    top: 0px;
    transition: all 0.3s;
    z-index: 1000;
}


.nav-bar .nav-container .nav-right .icon-sousuo1 {
    cursor: pointer;
}


.nav-bar .nav-container .nav-right .nav-right-item a {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: white;
}


.nav-bar .nav-container .nav-right .nav-right-item .cur {
    color: rgba(232, 1, 1, 0.9) !important;
    font-weight: 600;
    background-color: #fff;

}

/*.nav-bar .nav-container .nav-right .nav-right-item .recuit {*/
/*    !*width: 118px;*!*/
/*    !*border: solid 1px rgb(255,103,0);*!*/
/*    display: inline-block;*/
/*    background-color: rgb(255, 103, 0);*/
/*    line-height: 30px*/
/*    padding: 13px 0;*/
/*    font-size: 14px;*/
/*    margin: 0 10px;*/
/*}*/


/*.nav-bar .nav-container .nav-right .contac:hover {*/
/*    background-color: #f25807;*/
/*    border-color: #f25807;*/
/*    color: white;*/
/*}*/

